.card {
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    justify-content: space-around;
    padding: 15px;
    background-color: #fffb;
}

.image {
    max-height: 100%;
    width: 70%;
}