.btn {
    border-radius: 0%;
    background-color: rgb(85, 169, 238);
    width: 64px;
    height: 24px;
    color: white;
    border: white;
    margin: 2px
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(139, 192, 236);
}

.filterContainer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 32%;
    padding: 4px
}

.genres {
    height: 30px;
    width: 140px;
    background-color: rgb(85, 169, 238);
    color: white;
    border: white;
    padding: 5px
}

.genres:hover {
    cursor: pointer;
}

.createds {
    height: 30px;
    width: 190px;
    background-color: rgb(85, 169, 238);
    color: white;
    border: white;
    padding: 5px
}

.createds:hover {
    cursor: pointer;
}