.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.cardsContainer {
    width: 90%;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.loading {
    grid-column-start: 2;
    grid-column-end: 2;
}