.container {
    display: flex;
    justify-content: center;
}

.cardsContainer {
    width: 90%;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}