.navBar {
    display: flex;
    flex-direction: row;
    background-color: #000b;
    justify-content: space-around;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    width: 5%;
}

.image img {
    padding: 5px;
    width: 100%;
}

.btn {
    border-radius: 0%;
    background-color: rgb(85, 169, 238);
    width: 86px;
    height: 36px;
    color: white;
    border: white;
}

.text {
    color: white;
}